<form (ngSubmit)="handleEventSubmission()">
    <h3>Submit Event</h3>
    <div class="form-group">
        <label for="name">Name </label>
        <input type="text" id="name" [(ngModel)]="name" name="name" required>
    </div>

    <div class="form-group">
        <label for="description">Description </label>
        <input type="text" id="description" [(ngModel)]="description" name="description" required>
    </div>

    <div class="form-group">
        <label for="startdate">Start Date </label>
        <input type="date" id="startdate" [(ngModel)]="startDate" name="startdate" required>
    </div>

    <div class="form-group">
        <label for="location">Location </label>
        <input type="text" id="location" [(ngModel)]="location" name="location" required>
    </div>

    <div class="form-group">
        <label for="duration">Duration </label>
        <input type="number" id="duration" [(ngModel)]="duration" name="duration" required>
    </div>

    <button type="submit">Save 💾</button>
    <button type="button">Cancel 🚫</button>
</form>

