<form (ngSubmit)="handleSubmission()">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>User Events</th>
            <th></th>
            <th></th>
            <th>Like</th>
        </tr>
        </thead>
        <tbody>    
     
                @for (usrEvent of listOfUserEvents; let index = $index; track index) {
                    
                    <tr>

                    <td>
                      @if (!usrEvent.usrEvent) {
                          <button (click)="assignUserEvent(index)">✔️</button>
                      }
                      @else {
                          <button (click)="unassignUserEvent(index)">❌</button>
                      }
                    </td>
                    <td>
                      <a [routerLink]="['/event/', usrEvent.eventId]">{{usrEvent.eventName}}</a>
                    </td>
                    <td></td>
                    <td></td>  
                    @if(usrEvent.usrEvent){
                        @if (usrEvent.favorite) {
                            <button (click)="unlikeUserEvent(index)">➖</button>
                        }
                        @else {
                            <button (click)="likeUserEvent(index)">➕</button>
                        }
                    }

                    </tr>                    
                }             
              
        </tbody>
    </table>
    @if(listUpdated){
        <button type="submit">Save changes</button>
        <button type="cancel">Cancel</button>
    }    
</form>

















